<!DOCTYPE html>
<html lang="pt=BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animais-Service</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <div class="container">
        <h2><u>Lista de Animais</u></h2>
        <br>
        <div class="animais">
        <% for(let i=0; i<animais.length; i++){ %>
                <p>Nome: <%= animais[i].nome %></p>
                <p>Cliente: <%= animais[i].cliente %></p>
                <p>Raça: <%= animais[i].raca %></p>
                <br>
                <hr>
                <br>

            <% } %>
        </div>
    </div>
</body>
</html>